In [8]:
class car:
    pass

In [9]:
audiq7 = car()

In [10]:
audiq7.milage  = 10
audiq7.year= 2020
audiq7.make = 345
audiq7.model = "fgdf"

In [11]:
audiq7.milage

10

In [12]:
audiq7.model

'fgdf'

In [13]:
audiq7.year

2020

In [14]:
nano = car()

In [15]:
nano.milage = 20
nano.year = 2020
nano.make = 234
nano.model = "dfdd"
nano.enginno = 3457457133664

In [16]:
print(nano.milage, audiq7.milage)

20 10

In [17]:
class car :
    def __init__(self , milage , year , make , model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

In [18]:
nano1 = car(20, 2020, 32456, "324dsf")
audiq71 = car(10,2020,543,"ffdd")

In [19]:
nano1.milage

20

In [46]:
nano1 = car(20, 2020, 32456, "324dsf")
audiq71 = car(10,2020,543,"ffdd")
nano2 = car(20, 2020, 32456, "324dsf")
audiq72 = car(10,2020,543,"ffdd")                           # 
nano3 = car(20, 2020, 32456, "324dsf")
audiq73 = car(10,2020,543,"ffdd")
nano4 = car(20, 2020, 32456, "324dsf")
audiq75 = car(10,2020,543,"ffdd")
nano6 = car(20, 2020, 32456, "324dsf")
audiq76 = car(10,2020,543,"ffdd")
nano7 = car(20, 2020, 32456, "324dsf")
audiq77 = car(10,2020,543,"ffdd")

In [47]:
class car :
    def __init__(a , milage , year , make , model):
        a.milage = milage                      # you have to use any name like "a" or something other alphabatic word
        a.year = year
        a.make = make
        a.model = model

In [48]:
nano6 = car(20, 2020, 32456, "324dsf")

In [49]:
nano6.milage

20

In [24]:
nano6.m                   # can't find 'm' single word code of m is not exit use full name of variable like 'milage' or something

AttributeError: 'car' object has no attribute 'm'

In [25]:
nano6 = car(20, 2020, 32456, "324dsf")

In [26]:
nano6.milage

20

In [27]:
class car :
    def __init__(a , m , y , ma , mo):
        a.milage = m                      
        a.year = y
        a.make = ma                     #age is to find the variable of year
        a.model = mo 
        
    def age(self, current_year):
        return current_year - self.year

In [28]:
nano6 = car(20, 2020, 32456, "324dsf")

In [29]:
nano6.age

In [30]:
class car :
    def __init__(a , m , y , ma , mo):
        a.milage = m                      
        a.year = y
        a.make = ma
        a.model = mo                        #'self' you have to change your pointer like self as 'a' or something othere also 
        
    def age(b, current_year):
        return current_year - b.year
    
    def milage1(self):
        print("print a milage of a car" , self.milage)
        #return str(self.milage)
    def __str__(c):                                            #its a inbuild method  
        return "this is my car class i have created"           # if you type some msg then use 'str __c'

In [31]:
nano6 = car(20, 2020, 32456, "324dsf")

In [32]:
nano6.milage1()

print a milage of a car 20

In [33]:
nano6.age(2021)

1

In [34]:
print(nano6)

this is my car class i have created

In [35]:
class student:
    
    def __init__(self , name , rollno , joining_date , current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_date = joining_date
        self.current_topic = current_topic
        
    def crt_topic(self):
        print("current topic discussed in  my class" , self.crt_topic)
        
    def str_rollno(self):   #convert data in string
        if type(self.rollno) == str:
            print("do nothing ")
            
        else :
            return str(self.rollno)
    
    def duration(self,current_date) :       #duration mean is to current_date - joining_date
        
        print("duration of my student in my class is" , current_date- self.joining_date)
        
    def __str__(self):
        
        return "this is student class where they can try to input there own data and they can try to fetch it"

In [36]:
srini = student("srini", 545264, 2021, "opps")
print(srini)

this is student class where they can try to input there own data and they can try to fetch it

In [37]:
srini.duration(2021)

duration of my student in my class is 0

In [38]:
srini.str_rollno()

'545264'

In [39]:
print(srini)

this is student class where they can try to input there own data and they can try to fetch it

In [40]:
class student:
    
    def __init__(self , name , rollno , joining_date , current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_date = joining_date
        self.current_topic = current_topic
        
    def name_Parsing(self) :
        if type(self.name) == list:
            for i in self.name :
                print("name of the student " , i)
                
        else :
            print("provided name is not in a form of list ")
        
    def crt_topic(self):
        print("current topic discussed in  my class" , self.crt_topic)
        
    def str_rollno(self):
        
        try :
            
            if type(self.rollno) == str:
                print("do nothing ")

            else :
                return str(self.rollno)
        except Exception as e:
            
            print("this is my error msg" ,e)

    def duration(self,current_date) :
        
        print("duration of my student in my class is" , current_date- self.joining_date)
        
    def __str__(self):
        
        return "this is student class where they can try to input there own data and they can try to fetch it"

In [41]:
pawan = student(["naveen" , "jay" , "himanshu" , "prakash"], [234,542,25451,34,234], 2021 ,  "opps")

In [42]:
pawan.name_Parsing()

name of the student  naveen
name of the student  jay
name of the student  himanshu
name of the student  prakash

In [43]:
pawan.name

['naveen', 'jay', 'himanshu', 'prakash']

In [44]:
#Q1
# create a class as data 
# create fileName as list, file_type as dict and tuple, date, size 
# file_open () create file if nef exit
# write something in file
#file_read (__)
#file_append()
# append new data in same file and show 

#Q2
#exceptional handeling 
#logger

In [45]:
class data:
    def __init__(self , fileName , file_type , date , size):
        self.filename = fileName
        self.file_type = file_type
        self.data = data
        self.size = size
    
    def fileopen(self):
        f = open(self.filename, "w")
        f.write("this is test file ")
        f.close()
        
    def fileread(self):
        f = open(self.filename, 'r')
        print(f.read())
        f.close()
        
    def fileappend(self):
        f = open(self.filename,'a')
        f.write("appending data to file")
        f.close()
        
file1 = data("prateek","30-09-2022","kumar","ineuron")
file1.fileopen()
file1.fileread()
file1.fileappend()

this is test file